<div class="pd-ltr-20 xs-pd-20-10" style="min-height: 70vh;">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin/inicio">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">Deudas de Clientes</li>
        </ol>
    </nav>

    <div class="pd-20 card-box mb-30 min-h70" >
        <div class="clearfix">
            <div class="pull-left">
                <h4 class="text-blue h4 pb-3">Deuda de Clientes</h4>
            </div>
            <div class="pull-right">
                
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-md-3">
                <div class="form-group" >
                    <label>Cédula</label>
                    <input class="form-control" type="text" [(ngModel)]="identification" maxlength="10" appNumericField>

                    <div *ngIf="identification.trim().length > 0 &&  identification.trim().length < 10" 
                    class="form-control-feedback has-danger"><font  style="vertical-align: inherit;">Debe tener 10 dígitos</font></div>
                </div>
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary" style="margin-top:1.9rem" (click)="getCustoemrDebts()">BUSCAR</button>
            </div>

           
        </div>
        
        <hr>
       <div *ngIf="customerDebts.ordersReceivable.length > 0">
            <div class="row">
                <div class="col-md-2">
                    <strong>Última Visita</strong><br>
                    <span>{{customerDebts.lastVisit}}</span>
                </div>
                <div class="col-md-2">
                    <strong>Total de Deuda</strong><br>
                    <span>{{customerDebts.totalDebts}}</span>
                </div>
                <div class="col-md-8 text-center">
                    {{customerDebts.fullnames}}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <h5>Pedidos pendientes de pago</h5>
                    <table class="table ">
                        <thead style="text-transform: uppercase;">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Fecha</th>
                                <th scope="col" class="text-center">Recaudador</th>
                                <th scope="col">Total</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let deb of customerDebts.ordersReceivable">
                            <tr>
                                <th>{{deb.order_number}}</th>
                                <td>{{deb.date}}</td>
                                <td class="text-center">{{deb.collector}}</td>
                                <td>{{deb.total_amount}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
       </div>
       <div *ngIf="customerDebts.ordersReceivable.length == 0 && !firstTime">
            <h5>No se encontraron resultados.</h5>
       </div>
</div>