<div class="wrap-order-receivable">
    <div class="row">
        <div class="col-4">
            <p class="pt-4 px-3" (click)="goToBack()"><i class="dw dw-left-arrow1" style="font-size: 28px; color:#fff"></i></p>
        </div>
        <div class="col-8 text-right">
            <p class="pt-4 px-4" style="margin-bottom: 0.2rem;" (click)="showMenuConfig()"><i class="icon-copy dw dw-settings text-white" style="font-size: 1.5rem;"></i></p>

            <div #orderConfig class="order-config-options" style="display: none;">
                <ul>
                    <li><i class="icon-copy dw dw-edit1"></i><span> Editar Pedido</span></li>
                    <li><i class="icon-copy dw dw-delete-3"></i><span> Anular Pedido</span></li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="header-order-receivable pt-2">
        <small>TOTAL A PAGAR</small><br>
        <h2 style="color: #fff;">{{orderReceivable.balance | currency}}</h2>
        <small>{{orderReceivable.full_names}}</small>

        <div class="row mt-3">
            <div class="col-12">
                <button type="button" class="btn btn-primary" (click)="currentScreen = 'PAYMENT'">COBRAR</button>
                <button type="button" class="btn btn-primary" (click)="currentScreen = 'VISIT'">VISITA</button>
            </div>
        </div>
        
    </div>
   
    <div class="detail-order-receivable" *ngIf="currentScreen == 'PAYMENT'">
        <div class="row">
            <div class="col-6">
                <strong>Fecha Emisión</strong>
                <p>{{orderReceivable.date}}</p>
            </div>
            <div class="col-6 text-right">
                <strong>Nº {{orderReceivable.order_number}}</strong>
            </div>
            
            <div class="col-7">
                <strong>Días en Deuda</strong>
                <span class="badge badge-pill badge-sm badge-warning ml-1 px-2">{{orderReceivable.days_debt}}</span>
                <br>    
                <button class="btn btn-sm btn-info mt-2" *ngIf="orderReceivable.payments.length > 0" (click)="showModal()"><i class="dw dw-eye"></i> Ver Pagos</button>
            </div>
            <div class="col-5 text-right">
                <strong >Total General</strong>
                <p class="dp-color-primary font-weight-bold">{{orderReceivable.total_amount | currency}}</p>
            </div>


            <div class="products-details col-12 mt-4">
                <div class="card mb-3" >
                    <ul class="list-group" (click)="showOrderDetails()">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            DETALLE DE PEDIDO
                            <i *ngIf="!detailsOpened" class="fa fa-angle-double-down" style="color:darkgray"></i>
                            <i *ngIf="detailsOpened" class="fa fa-angle-double-up" style="color:darkgray"></i> 
                        </li>
                    </ul>

                    <div class="table-responsive p-2 mt-1" *ngIf="detailsOpened">
                        <table class="table table-sm" style="overflow-x: auto; table-layout: fixed;
                        word-wrap: break-word;">
                            <thead>
                              <tr>
                                <th style="width: 160px;">Producto</th>
                                <th style="width: 80px;" class="text-center">Total</th>
                                <th style="width: 60px;">Cant</th>
                                <th style="width: 80px;">Precio</th>
                              </tr>
                            </thead>
                            <tbody >
                              <tr *ngFor="let product of orderReceivable.products;">
                                <td >{{product.name}}</td>
                                <td style="text-align:center">{{product.total | currency}}</td>
                                <td class="text-center">{{product.quantity}}</td>
                                <td class="text-center">{{product.price | currency}}</td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>
        <form [formGroup]="frmOrderReceivable" (ngSubmit)="registerPayment()">
            <div class="row mb-5">
                <div class="col-6 form-group mt3">
                    <label for="cliente_paga">Cliente Paga</label>
                    <input type="text" formControlName="customer_payment" class="form-control" (click)="clearWhenIsZero()"
                    mask="separator.2" (keyup)="setOrderChange()" separatorLimit =" 10000 " thousandSeparator=",">
                    
                    <div *ngIf="customerPayment.hasError('required')" 
                    class="form-control-feedback has-danger"><font  style="vertical-align: inherit;">Este campo es obligatorio</font></div>
                </div>
                <div class="col-6 form-group">
                    <label>SALDO</label><br>
                    <h3>{{ pendingBalance | currency}}</h3>
                </div>
                <div class="col-6 form-group">
                    <label>CAMBIO</label><br>
                    <h3>{{change.value | currency}}</h3>
                </div>
                <div class="col-6 form-group my-3 text-right">
                    <button type="submit" class="btn btn-primary"><i class="dw dw-money-2"></i> Cobrar</button>
                </div>
               
                
            </div>
        </form>
    </div>

    <div class="record-visit">
        <div  *ngIf="currentScreen == 'VISIT'">
            <div class="row mb-5">
                <h3 class="ml-3">Registro de Visita</h3>
                <div class="col-12 form-group mt3">
                    <label for="cliente_paga">Observaciones</label>
                    <textarea type="text" [(ngModel)]="observations" class="form-control">
                    </textarea>
                </div>
                <div class="col-12 form-group mt-5 my-3 text-center">
                    <button type="button" class="btn btn-outline-primary" (click)="registerVisit()"><i class="dw dw-notepad-1"></i> Registrar visita</button>
                </div>
            </div>
        </div>

        <div  *ngIf="orderReceivable.visits.length > 0 && currentScreen == 'VISIT'">
            <div class="row mb-5">
                <h3 class="ml-3">Historial de Visitas</h3>
                <div *ngFor="let visit of orderReceivable.visits">
                    <div class="col-4 form-group mt3" >
                        <strong>{{visit.date}}</strong>
                    </div>
                    <div class="col-8 form-group mt3">
                        <span>{{visit.observations}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    
</div>
<app-modal [modalTitle]="modalTitle">
    <div>
        <div class="table-responsive p-2 mt-1">
            <table class="table table-sm">
                <thead>
                    <tr><th>Fecha</th><th>Monto</th></tr>
                </thead>
                <tbody>
                  <tr *ngFor="let payment of orderReceivable.payments">
                    <td>{{payment.date}}</td>
                    <td>{{payment.amount | currency}}</td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
</app-modal>