<div class="wrap-order-receivable">
    <p class="pt-4 px-3" (click)="goToBack()"><i class="dw dw-left-chevron" style="font-size: 24px; color:#fff"></i></p>
    <div class="header-order-receivable pt-3">
        <h2 style="color: #fff;">$431.23</h2>
        <small>BYRON ANDRÉS DUARTE MOREJON</small>
    </div>
    <div class="detail-order-receivable">
        <div class="row">
            <div class="col-6">
                <strong>Fecha Emisión</strong>
                <p>20/04/2022</p>
            </div>
            <div class="col-6 text-right">
                <strong for="">Nº 00001</strong>
            </div>

            <div class="products-details">
                
            </div>
        </div>
    </div>
</div>