<div class="pd-ltr-20 xs-pd-20-10" style="min-height: 70vh;">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin">Admin</a></li>
            <li class="breadcrumb-item active" aria-current="page">Productos</li>
        </ol>
    </nav>

    <div class="pd-20 card-box mb-30">
        <div class="clearfix">
            <div class="pull-left">
                <h4 class="text-blue h4">Productos</h4>
            </div>
        </div>

        <table class="table mt-4">
            <thead style="text-transform: uppercase;">
                <tr>
                    <th scope="col">CODIGO</th>
                    <th scope="col">NOMBRE PRODUCTO</th>
                    <th scope="col">COSTO</th>
                    <th scope="col">P. VENTA</th>
                    <th scope="col">STOCK</th>
                    <th scope="col">CANT X PAQ.</th>
                    <th scope="col">CANT X BULTO.</th>
                    <th scope="col">CATEGORÍA</th>
                    <th scope="col">PROVEEDOR</th>
                </tr>
            </thead>
            <tbody >
                <tr *ngFor="let product of products">
                    <td scope="row">{{ product.code }}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.cost | currency}}</td>
                    <td>{{product.sale_price| currency}}</td>
                    <td>{{product.stock}}</td>
                    <td>{{product.quantity_package}}</td>
                    <td>{{product.quantity_lump}}</td>
                    <td>{{product.category_name}}</td>
                    <td>{{product.provider_name}}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>