<div class="pd-ltr-20 xs-pd-20-10" style="min-height: 70vh;">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin">Admin</a></li>
            <li class="breadcrumb-item active" aria-current="page">Productos</li>
        </ol>
    </nav>

    <div class="pd-20 card-box mb-30">
        <div class="clearfix">
            <div class="pull-left">
                <h4 class="text-blue h4">Productos</h4>
            </div>
            <div class="pull-right">
                <a routerLink="/admin/producto/nuevo" class="btn btn-primary btn-sm scroll-click" rel="content-y" data-toggle="collapse" role="button"><i class="fa fa-plus"></i> Nuevo</a>
            </div>
        </div>
        <app-datatable-custom [setDataTable]="products" [setOptions]="dtOptions" (updateDataTable)="getProducts($event)"></app-datatable-custom>
        
    </div>
</div>