.mobile-nav {
    background-color: blueviolet;
    position: fixed;
    bottom: 0;
    height: 65px;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .bloc-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
  }


  .bloc-icon span {
    width: 30px;
    color: #fff;
    font-size: 1.5rem;
  }

  @media screen and (min-width: 600px) {
    .mobile-nav {
    display: none;
    }
  }

  .bordered-icon{
      border-left: solid 2px #601aa1;
  }