.mobile-nav {
    background-color: #7538b9;
    position: fixed;
    bottom: 0;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* box-shadow: -1px -7px 5px 0px rgba(0,0,0,0.28);
    -webkit-box-shadow: -1px -7px 5px 0px rgba(0,0,0,0.28);
    -moz-box-shadow: -1px -7px 5px 0px rgba(0,0,0,0.28); */

  }

  .bloc-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
  }


  .bloc-icon span {
    width: 30px;
    color: #fff;
    font-size: 2rem;
  }

  @media screen and (min-width: 600px) {
    .mobile-nav {
    display: none;
    }
  }

  .bordered-icon{
      border-left: solid 2px #601aa1;
  }