<div class="pd-ltr-20 xs-pd-20-10" style="min-height: 70vh;">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/dashboard">Admin</a></li>
            <li class="breadcrumb-item active" aria-current="page">Pedidos del Día</li>
        </ol>
    </nav>

    <div class="pd-20 card-box mb-30">
        <div class="clearfix mb-20">
            <div class="pull-left">
                <h4 class="text-blue h4">Pedidos del día</h4>
            </div>
            <div class="pull-right">
                <a href="#basic-table" class="btn btn-primary btn-sm scroll-click" rel="content-y" data-toggle="collapse" role="button"><i class="fa fa-code"></i> Source Code</a>
            </div>
        </div>
        <table class="table ">
            <thead style="text-transform: uppercase;">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Fecha/Hora</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Recaudador</th>
                    <th scope="col">Total</th>
                    <th scope="col">Etapa</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody *ngFor="let order of summaryOrders">
                <tr>
                    <th scope="row">{{order.order_number}}</th>
                    <td>{{order.date}}</td>
                    <td>{{order.full_names}}</td>
                    <td>{{order.username}}</td>
                    <td>{{order.total_amount}}</td>
                    <td><span class="badge badge-primary">Primary</span></td>
                    <td><button class="btn btn-sm btn-info" (click)="GoToOrder(order.id_order)"><i class="icon-copy dw dw-eye" ></i> Ver Detalle</button></td>
                </tr>
            </tbody>
        </table>
       
    </div>
</div>