<div class="pd-ltr-20 xs-pd-20-10" style="min-height: 70vh;">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/admin">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">Historial</li>
        </ol>
    </nav>

    <div class="pd-20 card-box mb-30 minh70" >
        <div class="clearfix">
            <div class="pull-left">
                <h4 class="text-blue h4">Historial de Pedidos del Cliente</h4>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12 text-center">
                <form [formGroup]="frmFilters" (ngSubmit)="findOrders()">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group mb-0 mt-4" *ngIf="!customerSelected">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control search-input" placeholder="Buscar cliente"
                                    (click)="showFinder()" (keyup.enter)="findCustomerModal()">
                                    <div class="input-group-append">
                                      <span class="input-group-text  bg-primary" id="basic-addon1"><i class="icon-copy dw dw-search2" style="color:#fff;"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div *ngIf="customerSelected" class="row mt-3">
                        <div class="col-4">
                            <div class="form-group">
                                <label >Identificación</label>
                                <p>{{customerSelected.identification}}</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label>Nombres</label>
                                <p>{{customerSelected.full_names}}</p>
                            </div>
                        </div>
                        <div class="col-2 p-2" class="text-center">
                            <span  (click)="showFinder()" style="cursor: pointer;"><i class="icon-copy dw dw-exchange"></i><!--<small style="display:block">Cambiar</small>--></span>
                        </div>
                    </div>
                   
                </form>
            </div>
        </div>

        <table class="table ">
            <thead style="text-transform: uppercase;">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" class="text-center">Fecha/Hora</th>
                    <th scope="col">Cliente</th>
                    <th scope="col" class="text-center">Vendedor</th>
                    <th scope="col" class="text-center">Total</th>
                    <th scope="col" >ESTADO</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody *ngFor="let order of summaryOrders">
                <tr>
                    <th scope="row">{{order.order_number}}</th>
                    <td class="text-center">{{order.date}}</td>
                    <td>{{order.full_names}}</td>
                    <td class="text-center">{{order.username}}</td>
                    <td class="text-center">{{order.total_amount | currency}}</td>
                    <td><span class="badge"     [ngClass]="{'badge-warning': order.stage === 'Por Cobrar', 'badge-success' : order.stage === 'Pagado', 'badge-danger' : order.stage === 'Anulado' }"
                        >{{order.stage}}</span></td>
                    <td><button class="btn btn-sm btn-info" (click)="GoToOrder(order.id_order)"><i class="icon-copy dw dw-eye" ></i> Ver Detalle</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{modalTitle}}</h4>
      <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')">  <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="">Filtros</label>
            <div class="row">
                <div  class="col-md-4">
                    <div class="custom-control custom-radio">
                        <input id="rb_identificacion" [(ngModel)]="filterClientFinder" type="radio" name="filter_client" 
                        class="custom-control-input" value="identification" >
                        <label class="custom-control-label" for="rb_identificacion">Identificación</label>
                    </div>
                </div>
                <div  class="col-md-4">
                    <div class="custom-control custom-radio">
                        <input id="rb_nombres" type="radio"  [(ngModel)]="filterClientFinder" name="filter_client" class="custom-control-input"
                        value="nombres">
                        <label class="custom-control-label" for="rb_nombres">Nombres</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="input-group mb-3">
            <input  type="text" class="form-control" (keyup.enter)="findCustomer()" [(ngModel)]="textClientFinder" autocomplete="off">
            
            <div class="input-group-append">
              <button class="btn btn-primary btn-search" type="button" id="btn_find_client" (click)="findCustomer()"><i class="fa fa-search"></i></button>
            </div>
        </div>
        <hr>
        <ul class="list-group list-group-flush">
            <li *ngFor="let customer of customers" class="list-group-item " 
            (click)="selectedClient(customer)" style="cursor:pointer; ">{{customer.full_names}}</li>
        </ul>
        <hr>
        <small class="form-text text-muted">Se encontraron {{customers.length}} registros</small>
    </div>
  </ng-template>