<div class="pd-ltr-20 xs-pd-20-10" style="min-height: 70vh;">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/dashboard">Admin</a></li>
            <li class="breadcrumb-item active" aria-current="page">Nuevo Producto</li>
        </ol>
    </nav>

    <div class="pd-20 card-box mb-30">
        <div class="clearfix">
            <div class="pull-left">
                <h4 class="text-blue h4">Nuevo Producto</h4>
            </div>
        </div>
        <form [formGroup]="frmProduct" (ngSubmit)="createProduct()">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-3">
                    <div class="form-group">
                        <label>Código</label>
                        <input class="form-control uppercase" type="text" formControlName="code" placeholder="Código" maxlength="10" appProductCodeField
                        [class.form-control-danger]="code.touched && !code.valid">

                        <div *ngIf="code.touched && code.hasError('required')" 
                        class="form-control-feedback has-danger"><font  style="vertical-align: inherit;">Este campo es obligatorio</font></div>
                        <div *ngIf="code.touched && code.hasError('minlength')" 
                        class="form-control-feedback has-danger"><font  style="vertical-align: inherit;">Mínimo 3 carácteres.</font></div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-5">
                    <div class="form-group">
                        <label>Nombre del producto</label>
                        <input class="form-control uppercase" type="text" formControlName="name" placeholder="Nombre del producto" appAlphanumericField
                        [class.form-control-danger]="name.touched && !name.valid">
                    </div>

                    <div *ngIf="name.touched && name.hasError('required')" 
                        class="form-control-feedback has-danger"><font  style="vertical-align: inherit;">Este campo es obligatorio</font></div>
                    <div *ngIf="name.touched && name.hasError('minlength')" 
                        class="form-control-feedback has-danger"><font  style="vertical-align: inherit;">Mínimo 3 carácteres.</font></div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4">
                    <div class="form-group">
                        <label>Descripción</label>
                        <input class="form-control" type="text" formControlName="description" placeholder="Descripción (opcional)">
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-5">
                    <div class="form-group">
                        <label>Categoría</label>
                        <select  class="form-control" formControlName="category_id" style="width: 100%; height: 38px;" aria-hidden="true">
                            <option *ngFor="let category of categoryCatalog" [ngValue]="category.id">
                                {{ category.description }}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-7">
                    <div class="form-group">
                        <label>Proveedor</label>
                        <select class="form-control" formControlName="provider_id" style="width: 100%; height: 38px;">
                            <option *ngFor="let provider of providersCatalog" [ngValue]="provider.id">{{ provider.description }}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-2">
                    <div class="form-group">
                        <label>Stock Inicial</label>
                        <input class="form-control" formControlName="stock" placeholder="Stock Inicial" maxlength="9" appNumericField
                        [class.form-control-danger]="stock.touched && !stock.valid">
                    </div>

                    <div *ngIf="stock.touched && stock.hasError('required')" 
                        class="form-control-feedback has-danger"><font  style="vertical-align: inherit;">Este campo es obligatorio</font></div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-2">
                    <div class="form-group">
                        <label>Costo</label>
                        <input class="form-control" formControlName="cost" placeholder="Costo" mask="separator.2" separatorLimit =" 10000 " thousandSeparator=""
                        [class.form-control-danger]="cost.touched && !cost.valid">
                    </div>

                    <div *ngIf="cost.touched && cost.hasError('required')" 
                        class="form-control-feedback has-danger"><font  style="vertical-align: inherit;">Este campo es obligatorio</font></div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-2">
                    <div class="form-group">
                        <label>Precio Venta</label>
                        <input class="form-control" formControlName="sale_price" placeholder="Precio Venta" mask="separator.2" separatorLimit =" 10000 " thousandSeparator=""
                        [class.form-control-danger]="salePrice.touched && !salePrice.valid">
                    </div>

                    <div *ngIf="salePrice.touched && salePrice.hasError('required')" 
                        class="form-control-feedback has-danger"><font  style="vertical-align: inherit;">Este campo es obligatorio</font></div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-2">
                    <div class="form-group">
                        <label>Cant por Paquete</label>
                        <input class="form-control" formControlName="quantity_package" placeholder="Cant. X Paquete" maxlength="9" appNumericField
                        [class.form-control-danger]="quantityPackage.touched && !quantityPackage.valid">
                    </div>

                    <div *ngIf="quantityPackage.touched && quantityPackage.hasError('required')" 
                        class="form-control-feedback has-danger"><font  style="vertical-align: inherit;">Este campo es obligatorio</font></div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-2">
                    <div class="form-group">
                        <label>Cant por Bulto</label>
                        <input class="form-control" formControlName="quantity_lump" placeholder="Cant X Bulto" maxlength="9" appNumericField
                        [class.form-control-danger]="quantityLump.touched && !quantityLump.valid">
                    </div>

                    <div *ngIf="quantityLump.touched && quantityLump.hasError('required')" 
                        class="form-control-feedback has-danger"><font  style="vertical-align: inherit;">Este campo es obligatorio</font></div>
                </div>
                
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-primary">Crear</button>
            </div>
        </form>
    </div>
</div>