<div class="pd-ltr-20 xs-pd-20-10" style="min-height: 70vh;">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/dashboard">Admin</a></li>
            <li class="breadcrumb-item active" aria-current="page">Nuevo Producto</li>
        </ol>
    </nav>

    <div class="pd-20 card-box mb-30">
        <div class="clearfix">
            <div class="pull-left">
                <h4 class="text-blue h4">Nuevo Producto</h4>
            </div>
        </div>
        <form [formGroup]="frmProduct" (ngSubmit)="createProduct()">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-3">
                    <div class="form-group">
                        <label>Código</label>
                        <input class="form-control" type="text" formControlName="code" placeholder="Código" maxlength="10">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-5">
                    <div class="form-group">
                        <label>Nombre del producto</label>
                        <input class="form-control" type="text" formControlName="name" placeholder="Nombre del producto" >
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4">
                    <div class="form-group">
                        <label>Descripción</label>
                        <input class="form-control" type="text" formControlName="description" placeholder="Descripción" >
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-5">
                    <div class="form-group">
                        <label>Categoría</label>
                        <select  class="form-control" formControlName="category_id" style="width: 100%; height: 38px;" aria-hidden="true">
                            <option *ngFor="let category of categoryCatalog" [ngValue]="category.id">
                                {{ category.description }}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-7">
                    <div class="form-group">
                        <label>Proveedor</label>
                        <select class="form-control" formControlName="provider_id" style="width: 100%; height: 38px;">
                            <option *ngFor="let provider of providersCatalog" [ngValue]="provider.id">{{ provider.description }}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-2">
                    <div class="form-group">
                        <label>Stock Inicial</label>
                        <input class="form-control" formControlName="stock" placeholder="Stock Inicial" maxlength="9" appNumericField>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-2">
                    <div class="form-group">
                        <label>Costo</label>
                        <input class="form-control" formControlName="cost" placeholder="Costo" mask="separator.2" separatorLimit ="10000" thousandSeparator="">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-2">
                    <div class="form-group">
                        <label>Precio Venta</label>
                        <input class="form-control" formControlName="sale_price" placeholder="Precio Venta" mask="separator.2" separatorLimit =" 10000 " thousandSeparator="">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-2">
                    <div class="form-group">
                        <label>Cant por Paquete</label>
                        <input class="form-control" formControlName="quantity_package" placeholder="Cant. X Paquete" maxlength="9" appNumericField>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-2">
                    <div class="form-group">
                        <label>Cant por Bulto</label>
                        <input class="form-control" formControlName="quantity_lump" placeholder="Cant X Bulto" maxlength="9" appNumericField>
                    </div>
                </div>
                
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-primary">Crear</button>
            </div>
        </form>
    </div>
</div>