<div class="left-side-bar">
    <div class="brand-logo " style="background-color: #56238e;">
        <a routerLink="/admin/inicio" class="text-center">
            <img src="../../../assets/images/logo_displasrios2.png" class="light-logo aside-logo-displasrios">
        </a>
        <div class="close-sidebar" data-toggle="left-sidebar-close">
            <i class="ion-close-round"></i>
        </div>
    </div>
    <div class="menu-block customscroll">
        <div class="sidebar-menu">
            <ul id="accordion-menu" >
                <li class="dropdown">
                    <a  routerLink="/admin/inicio" routerLinkActive="active" class="dropdown-toggle no-arrow">
                        <span class="micon dw dw-house-1"></span><span class="mtext">Inicio</span>
                    </a>
                </li>
                <li class="dropdown">
                    <a  routerLink="/admin/punto-venta" routerLinkActive="active" class="dropdown-toggle no-arrow">
                        <span class="micon dw dw-money-2"></span><span class="mtext">Punto de Venta</span>
                    </a>
                </li>
                <li class="dropdown" #acordion_admin>
                    <a href="javascript:;" class="dropdown-toggle" (click)="openSubmenu('administrar')">
                        <span class="micon dw dw-folder-128"></span><span class="mtext">Administrar</span>
                    </a>
                    <ul class="submenu" >
                        <li><a routerLink="/admin/caja" routerLinkActive="active">Caja</a></li>
                        <li><a routerLink="/admin/compras" routerLinkActive="active">Compras</a></li>
                        <li><a routerLink="/admin/clientes" routerLinkActive="active">Clientes</a></li>
                        <li><a routerLink="/admin/productos" routerLinkActive="active">Productos</a></li>
                        <li><a routerLink="/admin/proveedores" routerLinkActive="active">Proveedores</a></li>
                        <li><a routerLink="/admin/usuarios" routerLinkActive="active">Usuarios</a></li>
                    </ul>
                </li>
                <li class="dropdown" #acordion_pedidos>
                    <a href="javascript:;" class="dropdown-toggle" (click)="openSubmenu('pedidos')">
                        <span class="micon dw dw-ticket"></span><span class="mtext">Pedidos</span>
                    </a>
                    <ul class="submenu">
                        <li><a routerLink="/admin/pedidos" routerLinkActive="active">Hoy</a></li>
                        <li><a routerLink="/admin/historial-pedidos" routerLinkActive="active">Historial</a></li>
                    </ul>
                </li>
                <li class="dropdown" #acordion_ctas_cobrar>
                    <a href="javascript:;" class="dropdown-toggle" (click)="openSubmenu('ctas_cobrar')">
                        <span class="micon dw dw-analytics-21"></span><span class="mtext">Cuentas Cobrar</span>
                    </a>
                    <ul class="submenu">
                        <li><a routerLink="/admin/deuda-clientes" routerLinkActive="active">Deuda Clientes</a></li>
                    </ul>
                </li>
                <li class="dropdown" #acordion_reportes>
                    <a href="javascript:;" class="dropdown-toggle" (click)="openSubmenu('reportes')">
                        <span class="micon dw dw-bar-chart"></span><span class="mtext">Reporte</span>
                    </a>
                    <ul class="submenu">
                        <li><a routerLink="/admin/reporte/ventas-diarias" routerLinkActive="active">Ventas Diarias</a></li>
                        <li><a href="ui-cards.html">Mensual</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:;" routerLink="/admin/configuracion"class="dropdown-toggle no-arrow">
                        <span class="micon dw dw-settings"></span><span class="mtext">Configuración</span>
                    </a>
                </li>
                
            </ul>
        </div>
    </div>
</div>