<div class="wrap-content">
    <app-header-mobile></app-header-mobile>
    <div class="main-content">
        <div class="row mt-1" style="margin-left: 0;">
            <div class="col-9" style="padding-left:0;">
                <h3 class="">Nuevo Pedido</h3>
            </div>
            <div class="col-3 text-center">
                <button type="button" class="btn btn-circle" data-bgcolor="#3b5998" 
                data-color="#ffffff" style="color: rgb(255, 255, 255); background-color: #9935b3;"><i class="fa fa-shopping-cart"></i></button>
                <span class="badge badge-primary badge-pill order-counter">{{quantity_cart}}</span>
            </div>
        </div>
       
        <div class="header-search">
            <form [formGroup]="frmOrder" (ngSubmit)="orderRegister()">
                <div class="form-group mb-0" *ngIf="!customerSelected">
                    <i class="dw dw-search2 search-icon"></i>
                    <input type="text" class="form-control search-input" placeholder="Buscar cliente"
                    (click)="showFinder()">
                </div>
                
                <div *ngIf="customerSelected" class="row mt-3">
                    <div class="col-4">
                        <div class="form-group">
                            <label >Identificación</label>
                            <p>{{customerSelected.identification}}</p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label>Nombres</label>
                            <p>{{customerSelected.full_names}}</p>
                        </div>
                    </div>
                    <div class="col-2 p-2" class="text-center">
                        <span  (click)="showFinder()"><i class="icon-copy dw dw-exchange"></i><!--<small style="display:block">Cambiar</small>--></span>
                    </div>
                </div>
               
                <div class="form-group my-4 text-center">
                    <button type="button" class="btn btn-success" (click)="addProduct()"><i class="fa fa-plus-circle"></i> Agregar Producto</button>
                </div>

                <div class="row" *ngIf="productItems?.length > 0">
                    <div class="col-12">
                        
                        <div class="card mb-3" >
                            
                            <ul class="list-group" (click)="showOrderDetails()">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Detalle de pedido
                                    <i *ngIf="!detailsOpened" class="fa fa-angle-double-down" style="color:darkgray"></i>
                                    <i *ngIf="detailsOpened" class="fa fa-angle-double-up" style="color:darkgray"></i>
                                </li>
                            </ul>

                            <div class="table-responsive p-2 mt-1" *ngIf="detailsOpened">
                                <table class="table table-sm" style="overflow-x: auto; table-layout: fixed;
                                word-wrap: break-word;">
                                    <thead>
                                      <tr>
                                        <th style="width: 40px;"></th>
                                        <th style="width: 160px;">Producto</th>
                                        <th style="width: 80px;" class="text-center">Total</th>
                                        <th style="width: 60px;">Cant</th>
                                        <th style="width: 80px;">Precio</th>
                                      </tr>
                                    </thead>
                                    <tbody >
                                      <tr formArrayName="items" *ngFor="let product of productsOrder; let i = index;">
                                        <td class="px-2">
                                            <button class="btn btn-sm" type="button" (click)="removeProduct(product.id)"><i class="dw dw-delete-3" style="color: #d9534f"></i></button>
                                        </td>
                                        <td [id]="product.id">{{product.name}}</td>
                                        <td style="text-align:center">{{product.sale_price * product.quantity | currency}}</td>
                                        <td class="text-center">{{product.quantity}}</td>
                                        <td class="text-center">{{product.sale_price | currency}}</td>
                                      </tr>
                                    </tbody>
                                  </table>
                            </div>
                        </div>
                        

                    </div>
                  </div>

                <div class="form-group">
                    <label for="">Método de Pago</label>
                    <div style="display: block;">
                        <div class="custom-control custom-radio" >
                            <input type="radio" id="rb_contado" name="payment_method" class="custom-control-input"
                            formControlName="payment_method" value="1">
                            <label class="custom-control-label" for="rb_contado" >Contado</label>
                        </div>
                        <div class="custom-control custom-radio" >
                            <input type="radio" id="rb_credito" name="payment_method" class="custom-control-input"
                            formControlName="payment_method" value="1019">
                            <label class="custom-control-label" for="rb_credito">Crédito</label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="">Forma de Pago</label>
                    <div style="display: block;">
                        <div class="custom-control custom-radio" >
                            <input type="radio" id="rb_efectivo" name="payment_mode" class="custom-control-input" 
                            formControlName="payment_mode" value="2">
                            <label class="custom-control-label" for="rb_efectivo" >Efectivo</label>
                        </div>
                        <div class="custom-control custom-radio" >
                            <input type="radio" id="rb_transferencia" name="payment_mode" class="custom-control-input"
                            formControlName="payment_mode" value="3">
                            <label class="custom-control-label" for="rb_transferencia" >Transferencia</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 form-group">
                        <label for="discount">Descuento</label>
                        <input type="text" class="form-control" formControlName="discount" (change)="applyDiscount()" mask="separator.2" separatorLimit =" 10000 " thousandSeparator=",">

                        <!-- <div class="form-control-feedback" 
                        *ngIf="frmOrder.discount.touched && frmOrder.discount.invalid">Sorry, that username's taken. Try another?</div> -->
                    </div>
                    
                    <div class="col-6 form-group ">
                        <label for="cliente_paga">Cliente Paga</label>
                        <input type="text" class="form-control" formControlName="customer_payment" (keyup)="setOrderChange()"  mask="separator.2" separatorLimit =" 10000 " thousandSeparator=","
                        [class.form-control-danger]="customerPayment.touched && customerPayment.hasError('required')">
                        
                        <div *ngIf="customerPayment.hasError('required')" 
                        class="form-control-feedback has-danger"><font  style="vertical-align: inherit;">Este campo es obligatorio</font></div>
                    </div>
                </div>

               <div class="row">
                    <div class="col-6 form-group">
                        <label>SUBTOTAL</label><br> 
                        <h3>{{subtotal.value | currency}}</h3>
                    </div>
                    <div class="col-6 form-group">
                        <label>TOTAL A PAGAR</label><br> 
                        <h3>{{total.value | currency}}</h3>
                    </div>
                    <div class="col-6 form-group">
                        <label>CAMBIO</label><br>
                        <h3>{{change.value | currency}}</h3>
                    </div>
               </div>

               <div class="form-group my-3 text-right">
                    <button type="submit" class="btn btn-primary"><i class="dw dw-checked"></i> Generar</button>
                </div>

            </form>
        </div>
        
    </div>
</div>
<app-navbar-bottom></app-navbar-bottom>
<app-modal [modalTitle]="modalTitle">
    <div *ngIf="finder=='customer'">
        <div class="form-group">
            <label for="">Filtros</label>
            <div style="display: block;">
                <div class="custom-control custom-radio" >
                    <input id="rb_identificacion" [(ngModel)]="filterClientFinder" type="radio" name="filter_client" class="custom-control-input"
                    value="identification" (change)="changeFilterCustomer($event)">
                    <label class="custom-control-label" for="rb_identificacion">Identificación</label>
                </div>
                <div class="custom-control custom-radio" >
                    <input id="rb_nombres" type="radio"  [(ngModel)]="filterClientFinder" name="filter_client" class="custom-control-input"
                    value="nombres" (change)="changeFilterCustomer($event)">
                    <label class="custom-control-label" for="rb_nombres">Nombres</label>
                </div>
            </div>
        </div>

        <div class="input-group mb-3">
            <input #idtextClientFinder type="text" class="form-control" name="textClientFinder" 
            (keyup.enter)="findCustomer()" [(ngModel)]="textClientFinder" autocomplete="off">
            <div class="input-group-append">
              <button class="btn btn-primary btn-search" type="button" id="btn_find_client" (click)="findCustomer()"><i class="fa fa-search"></i></button>
            </div>
        </div>
        <hr>
        <ul class="list-group list-group-flush">
            <li *ngFor="let customer of customers" class="list-group-item" 
            (click)="selectedClient(customer)">{{customer.full_names}}</li>
        </ul>
        <hr>
        <small class="form-text text-muted">Se encontraron {{customers.length}} registros</small>
    </div>

    <div *ngIf="finder=='product'">
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="textProductFinder" placeholder="Nombre de producto"
            (keyup.enter)="findProduct()" [(ngModel)]="textProductFinder" autocomplete="off">
            <div class="input-group-append">
              <button class="btn btn-primary btn-search" type="button" id="btn_find_client" (click)="findProduct()"><i class="fa fa-search"></i></button>
            </div>
        </div>
        <hr>
        <div class="table-responsive p-2 mt-1">
            <table class="table table-sm">
                <tbody>
                  <tr *ngFor="let product of products" >
                    <td><button class="btn btn-success" type="button" id="btn_find_client" (click)="selectedProduct(product)"><i class="fa fa-plus"></i></button></td>
                    <td><input id="input_prod_{{product.id}}" class="form-control quantity-field"  value="1" type="number"></td>
                    <td>{{product.name}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
        <hr>
        <small class="form-text text-muted">Se encontraron {{products?.length}} registros</small>
    </div>
</app-modal>