.includer{
    position: relative;
   }

.order-counter{
    background-color: #f6891e;
    position: absolute; 
    top: -5px;
    right: 10px;
}

.custom-radio{
    display: inline;
    padding-left: 2rem;
}
.form-control:focus~.input-group-append .fa{
    color:#fff;
}
.btn-search{
    padding-left: 1.6rem;
    padding-right: 1.6rem;
}

.table td{
    font-weight: normal;
}

.quantity-field{
    width: 60px;
    display: inline;
    text-align: center;
}