<div class="pd-ltr-20 xs-pd-20-10" style="min-height: 70vh;">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/admin">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">Recaudación</li>
        </ol>
    </nav>

    <div class="pd-20 card-box mb-30 minh70" >
        <div class="clearfix">
            <div class="pull-left">
                <h4 class="text-blue h4">Recaudación del Día</h4>
            </div>
        </div>
        
        <table class="table mt-3">
            <thead style="text-transform: uppercase;">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" class="text-center">Fecha/Hora</th>
                    <th scope="col">Cliente</th>
                    <th scope="col" class="text-center">Vendedor</th>
                    <th scope="col" class="text-center">Valor</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody *ngFor="let order of summaryOrders">
                <tr>
                    <th scope="row">{{order.order_number}}</th>
                    <td class="text-center">{{order.date}}</td>
                    <td>{{order.full_names}}</td>
                    <td class="text-center">{{order.username}}</td>
                    <td class="text-center">{{order.total_amount | currency}}</td>
                    <td><button class="btn btn-sm btn-info" (click)="GoToOrder(order.id_order)"><i class="icon-copy dw dw-eye" ></i> Ver Detalle</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>