<div class="pd-ltr-20 xs-pd-20-10" style="min-height: 70vh;">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/admin">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">Caja</li>
        </ol>
    </nav>
{{recaudacionCompleta}}
    <div class="pd-20 card-box mb-30 minh70">
      <form [formGroup]="frmCaja">
        <div class="tab">
          <!-- < ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs" []> -->
          <ul ngbNav #nav="ngbNav"  class="nav-tabs" [(activeId)]="active">
              <li [ngbNavItem]="1"  *ngIf="!isOpenendCash">
                <a ngbNavLink ><h4 class="text-blue h4">Apertura</h4></a>
                <ng-template ngbNavContent>
                  <div class="row">
                      <div class="col-md-12">
                         <div class="col-md-3" style="padding:0" >
                              <div class="form-group">
                                <label class="mt-3">Vas a iniciar el día con valor en caja de</label>
                                  <input type="text" formControlName="apertura" class="form-control" style="font-size: 2rem;"
                                  mask="separator.2" separatorLimit ="10000" thousandSeparator="" 
                                  [class.form-control-danger]="apertura.invalid && apertura.touched">

                                  <div *ngIf="apertura.invalid && apertura.touched" 
                                  class="form-control-feedback has-danger"><font  style="vertical-align: inherit;">Campo obligatorio</font></div>
                              </div>    
                              <div class="form-group">
                                  <button type="button" class="btn btn-primary" (click)="openCashRegister()">APERTURAR</button>    
                              </div>
                         </div>
                      </div>
                  </div>
                </ng-template>
              </li>
              <li [ngbNavItem]="2" >
                <a ngbNavLink><h4 class="text-blue h4">Recepción Recaudación/Ventas</h4></a>
                <ng-template ngbNavContent>

                  <div class="row" *ngIf="recaudacionCompleta">
                    <div class="col-xs-12 col-sm-12 col-md-8">
                      <h5 class="mt-4" style="color:#333;">Se han registrado los ingresos del día de TODOS los vendedores.</h5>
                    </div>
                  </div>

                  <div *ngIf="!recaudacionCompleta">
                    <div class="row">
                      <div class="col-xs-12 col-sm-12 col-md-8">
                        <div class="form-group" *ngIf="!recaudacionCompleta">
                            <label>Vendedor</label>
                            <select  class="form-control" formControlName="collector_id" style="width: 100%; height: 38px;" aria-hidden="true">
                                <option *ngFor="let collector of collectors" [ngValue]="collector.id">
                                    {{ collector.description }}
                                </option>
                            </select>
                        </div>
                     </div>
  
                    </div>
  
                    <div class="row">
                      <div class="col-xs-12 col-sm-12 col-md-3">
                           <div class="form-group">
                            <label class="mt-3">Total recibido de ventas del día</label>
                               <input type="text" formControlName="total_dia" class="form-control" style="font-size: 2rem;"
                               mask="separator.2" separatorLimit ="10000" thousandSeparator="" 
                               [class.form-control-danger]="totalDia.invalid && totalDia.touched">
  
                               <div *ngIf="totalDia.invalid && totalDia.touched" 
                               class="form-control-feedback has-danger"><font  style="vertical-align: inherit;">Campo obligatorio</font></div>
                           </div>    
                           <div class="form-group">
                               <button type="button" class="btn btn-primary" (click)="saveCollectorSalesToday()">REGISTRAR</button>    
                           </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </li>
              <li [ngbNavItem]="3">
                <a ngbNavLink><h4 class="text-blue h4">Cierre</h4></a>
                <ng-template ngbNavContent>
                  <div class="row">
                    <div class="col-md-12">
                      <label >Cierre de caja de los ingresos de motorizados y local comercial. <br>No podrás realizar ninguna venta después de realizar el cierre.</label><br>
                       
                       <div class="col-md-3" style="padding:0">
                            <div class="form-group">
                              <label class="mt-3">Total en caja de hoy</label>
                                <input type="text" formControlName="cierre" class="form-control" style="font-size: 2rem;"
                                mask="separator.2" separatorLimit ="10000" thousandSeparator="" 
                                [class.form-control-danger]="cierre.invalid && cierre.touched">

                                <div *ngIf="cierre.invalid && cierre.touched" 
                                class="form-control-feedback has-danger"><font  style="vertical-align: inherit;">Campo obligatorio</font></div>
                            </div>    
                            <div class="form-group">
                                <button type="button" class="btn btn-primary" (click)="closeCashRegister()">CERRAR</button>    
                            </div>
                       </div>
                    </div>
                  </div>
                  
                </ng-template>
              </li>
            </ul>
         </div>
      </form>
          
      <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
</div>